html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

/* ACTUAL CSS */
:root{
    font-family: 'Rubik', serif;
}
body{
    background-color: #c7d2fe;
}
button{
    font-family: 'Rubik', serif;
    transition: 200ms;
}
button:active{
    transform: scale(0.9);
}
img{
    width: 60px;
}
header{
    height: 110px;
    padding-left: 4vw;
    padding-right: 4vw;
    background-color: #eef2ff;
    display: flex;
    box-shadow: 0px 2px 9px rgba(108, 108, 108, 0.3);
    justify-content: space-between;
}
header div:nth-child(1){
    font-size: 2rem;
    gap: 8px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}
header div:nth-child(2){
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 18px;
    font-size: 1.1rem;
}
header div:nth-child(2) button {
    padding: 0;
    border: none;
    background: #c7d2fe;
    color: inherit;
    font: inherit;
    text-align: center;
    appearance: none;
    cursor: pointer;
    height: 3rem;
    width: 7.5rem;
    border-radius: 0.6rem;
  }
  header div:nth-child(2) button:hover{
    background: #929cbd;
  }


#addBook{
    margin-top: 50px;
    margin-left: 200px;
    width: 240px;
    padding: 1.2rem 1.4rem;
    background-color: #eef2ff;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr 1fr 2fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border-radius: 0.6rem;
    font-size: 1.3rem;
}
#addBook>h1{
    font-size: 1.8rem;
    font-weight: 900;
}
#addBook>input{
    padding: 1rem 0.5rem;
    width: 100%;
    border: none;
    border-radius: 0.3rem;
    background: white;
    color: inherit;
    font: inherit;
    text-align: inherit;
    box-sizing: border-box;
}
#addBook>input:focus{
    outline: none;
}
#addBook>button{
    padding: 1rem 0.5rem;
    width: 100%;
    border-radius: 0.3rem;
    border: none;
    background: #c7d2fe;
    color: inherit;
    font: inherit;
    text-align: center;
    appearance: none;
    cursor: pointer;
    box-sizing: border-box;
}
#addBook>button:hover{
    background: #929cbd;
}



.border{
    width: 200px;
    border: 1px solid black;
}